<a href="/logout" id="navbar-button"> Sign out </a>
<h1> All Programs </h1>
<table>
<% @programs.each do |program| %>
<tr>
<td><%=program.name%></td>
<td><%=program.category%></td>
<td><%=program.description%></td>
<td><%=program.install_date%></td>
<td><a href="programs/<%= program.id %>">Full information<a></td>
</tr>
<% end %>
</table>
