<a href="/logout" class="navbar-button"> Sign out </a>

<h1> All Programs </h1>
<a href="/programs/new" class="new-program-button">Add New Program</a>
<table>
  <thead>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Install Date</th>
    <th>View Full Info</th>
  </thead>
  <% @programs.each do |program| %>
  <tr>
    <td><%=program.name%></td>
    <td><%=program.category%></td>
    <td><%=program.description%></td>
    <td><%=program.install_date%></td>
    <td><a href="programs/<%= program.id %>">Full information<a></td>
  </tr>
  <% end %>
</table>
