<a href="/logout" class="navbar-button"> Sign out </a>
  <h3 style="margin-bottom: -10px;"><b>Name:</b> <%= @program.name %> </h3>

  <p><b>Category:</b> <%= @program.category %> </p>

  <p><b>Description:</b> <%= @program.description %> </p>

  <p><b>Link:</b> <a href="https://<%=@program.url%>" target="_blank"> <%= @program.url %> </a> </p>

  <p><b>Install Date:</b> <%= @program.install_date%> </p>

  <p><a href='/programs/<%=@program.id%>/edit' id="edit-program-button">Edit this Program</a></p>

  <p><a href='/programs' id="back-to-list-button">Go Back to Programs List</a></p>
