<a href="/logout" class="navbar-button"> Sign out </a>
  <h3>Name: <%= @program.name %> </h3>

  <p>Category: <%= @program.category %> </p>

  <p>Description: <%= @program.description %> </p>

  <p>Link: <a href="https://<%=@program.url%>" target="_blank"> <%= @program.url %> </a> </p>

  <p>Install Date: <%= @program.install_date%> </p>

  <p><a href='/programs/<%=@program.id%>/edit'>Edit this Program</a></p>

  <p><a href='/programs'>Go Back to Programs List</a></p>
