<a href="/logout" class="navbar-button"> Sign out </a>
  <h3 style="margin-bottom: -10px;"><b>Name:</b> <%= @program.name %> </h3>

  <p><b>Category:</b> <%= @program.category %> </p>

  <p><b>Description:</b> <%= @program.description %> </p>

  <p><b>Link:</b> <a href="https://<%=@program.url%>" target="_blank"> <%= @program.url %> </a> </p>

  <p><b>Install Date:</b> <%= @program.install_date%> </p>


  <p><a href='/programs/<%=@program.id%>/edit' class="red-form-button">Edit this Program</a></p>

  <form method="post" action="/programs/<%= @program.id%>/delete">

      <input id="hidden" type="hidden" name="_method" value="DELETE">

      <input type="submit" value="Delete Program" class="dark-red-form-button">

  </form>

  <p><a href='/programs' class="orange-form-button">Go Back to Programs List</a></p>
